body {
    margin: 0;
}

canvas {
    width: 100vw;
    height: 100vh;
}

.canvas {
    cursor: none;
}

.info {
    position: fixed;
    left: 0;
    top: 0;
    padding: 1em;
    pointer-events: none;
    /*background-color: rgba(242, 242, 242, 0.5);*/
}

.info a {
    pointer-events: initial;
}